[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fdaconcur"]
	path = fdaconcur
	url = https://github.com/functionaldata/tfdaconcur
[submodule "fdadensity"]
	path = fdadensity
	url = https://github.com/functionaldata/tdens
[submodule "fdapace"]
	path = fdapace
	url = https://github.com/functionaldata/tpace
[submodule "fdarep"]
	path = fdarep
	url = https://github.com/functionaldata/tfdarep
[submodule "frechet"]
	path = frechet
	url = https://github.com/functionaldata/tfrechet
